/* COLORI
Nero: #140014
Bianco: #FFFFFF
Grigio: #F5F7F0
Rosso Chiaro: #FF003C
Rosso: #E71D36
*/

@-webkit-keyframes 'MovingBack' {
	from {
	  -webkit-transform: translate3d(0px, 0px, 0px);
	  transform: translate3d(0px, 0px, 0px);
	}
	50%{
		-webkit-transform: translate3d(50px, 0px,0px); /* Safari */
	    transform: translate3d(50px, 0px, 0px);
	}
	to{
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}
}
/* CUSTOM FONTS */
	/*@import url(../fonts/Open-Sans/css/fonts.css);*/
/* END CUSTOM FONTS */

/* STANDARD FOR MOBILE */
* {
  /* transparent link and button selection */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
body {
  -webkit-touch-callout: none;
  /* no callouts during tap and hold */
  -webkit-text-size-adjust: none;
  /* no fonts auto inflation */
  -webkit-user-select: none;
  /* no copy and paste, etc. */
  background-attachment: fixed;
  font-family: "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
h2{
	font-size: 24px;
	font-weight: 300;	
}

/* END STANDARD MOBILE */

/* START STRUCTURE */
body{
	height: 100%;
	width: 100%;
}
img{
	max-width: 100%;
}
.full-page{
	height: 100%;
	width: 100%;
}
.scrolling-view{
	height: 100%;
	width: 100%;
	overflow: auto;
}
.fadeEffect{
	opacity: 0;
	transition: 1s;
}
#main{
	height: 100%;
	width: 100%;
}
#login-page{
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
}
#login-page-background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
#login-page-background img{
float: right;
	height: 107%;
	-webkit-animation-name: MovingBack;
-webkit-animation-duration: 40s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;

}
#powered-img{
	width: 100%;
}
#content{
	background: #F5F7F0;
	height: 100%;
	width: 100%;
	position: relative;
	box-shadow: -5px 0 10px RGBA(0, 0, 0, 0.2);
}
.snap-drawer-left{
	z-index: 0;
}





.navigation-bar {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: rgba(255, 0, 60, 0.9);
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  display: block;
  height: 44px;
  padding-left: 0;
  padding-right: 0;
  background: -webkit-linear-gradient(rgba(255, 0, 60, 0.9), rgba(231, 29, 54, 0.9));
  background: linear-gradient(rgba(255, 0, 60, 0.9), rgba(231, 29, 54, 0.9));
  color: #1f1f21;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  width: 100%;
  white-space: nowrap;
  overflow: visible;
}

/*
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .navigation-bar {
    border-bottom: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  }
}
*/
.navigation-bar__line-height {
  line-height: 44px;
  padding-bottom: 0;
  padding-top: 0;
}
.navigation-bar__bg {
  background: #fff;
}
.navigation-bar__item,
.navigation-bar__left,
.navigation-bar__right,
.navigation-bar__center {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  height: 44px;
  vertical-align: top;
  overflow: visible;
  display: block;
  vertical-align: middle;
  float: left;
}
.navigation-bar__left {
  max-width: 50%;
  width: 27%;
  text-align: left;
}
.navigation-bar__right {
  max-width: 50%;
  width: 27%;
  text-align: right;
}
.navigation-bar__center {
  width: 46%;
  text-align: center;
  line-height: 44px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}
.navigation-bar__title {
  line-height: 44px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.navigation-bar__center:first-child:last-child {
  width: 100%;
}

.navigation-bar--transparent{
	/* background-color: rgba(255, 0, 60, 0.9); */
	background-color: rgba(0, 0, 0, 0.95);
	background-image: none;
	border:none; 
	position:fixed;
	top:0;
	right: 0;
	left: 0;
}
.toolbar-button,
.toolbar-button--outline,
.toolbar-button--quiet {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  padding: 4px 10px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: baseline;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 1em;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  vertical-align: middle;
}
.toolbar-button:active,
.toolbar-button--outline:active,
.toolbar-button--quiet:active {
  background-color: rgba(0,0,0,0);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.2;
}
.toolbar-button:disabled,
.toolbar-button[disabled] {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.toolbar-button:focus,
.toolbar-button--outline:focus,
.toolbar-button--quiet:focus {
  outline: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.toolbar-button:hover,
.toolbar-button--outline:hover,
.toolbar-button--quiet:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.toolbar-button--outline {
  border: 1px solid #fff;
  margin: auto 8px;
  padding-left: 6px;
  padding-right: 6px;
}
.title-logo{
	font-size: 75px;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 15px;
	margin-top: 0;
	margin-bottom: 30px;
}
.title-logo-menu{
	font-size: 40px;
	color: #FF003C;
	padding:20px 10px 15px 20px;
	margin-bottom: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-shadow: 0 0 2px #ff003c;
}
.item-profile-menu{
	padding:10px;
	background:rgba(255, 255, 255, 0.76);
}
.image-profile-menu{
	position: absolute;
    top: 18px;
    right: 20px;
    width: 20%;
    
}
.image-profile-menu > img{
	border-radius: 50%;
	transition: 0.2s;
}
.image-profile-menu > img:hover{
	box-shadow: 0 0 10px #140014;
}
.name-profile-menu{
	display: inline-block;
	width: 70%;
	vertical-align: top;
	padding-left: 5px;
}
.name-profile-menu > h4{
	font-weight: 400;
	margin: 5px 0;
}
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}
#login-page .login-form{
	margin-top: 0;
	padding-top: 30%;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 1.1em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.login-form .text-input--underbar {
  color: rgba(255, 255, 255, 0.6);
}
input[type=email]:focus, input[type=password]:focus {
  
  color: white;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 0.8em;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1em;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 1em;
  line-height: 32px;
  letter-spacing: 0;
  color: #fff;
  vertical-align: middle;
  background-color: rgba(255, 0, 60, 0.9);
  border: 0px solid currentColor;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button:active {
  background-color: rgba(255, 0, 60, 0.9);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.2;
}
.button:focus {
  outline: 0;
}
.button:disabled,
.button[disabled] {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.list-track{
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-track .cover-track{
  height: 135px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position-y: -50px;
}
.list-track .cover-track .cover-track-overlay{
	position:relative;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(transparent,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95));
	background: linear-gradient(transparent,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95));
}
.list-track .cover-track .cover-track-overlay .list-track-details{
	position: absolute;
	bottom: 0;
	padding-bottom: 5px;
}
.list-track .cover-track .cover-track-overlay .title-list-track{
	margin: 5px 10px;
	color: white;
	font-weight: 300;
	bottom: 0;
	line-height: 25px;
}
.list-track .cover-track .cover-track-overlay .title-list-track > span{
	font-weight: 500;
}

#cover-view{
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	height: 200px;
}

.snap-drawer{
	/*background: rgba(255, 255, 255, 0.95);*/
	background: rgba(0, 0, 0, 0.85);
}
.snap-drawers{
	background: url('../img/avatar.jpg') no-repeat center;
    background-size: cover;
}
.snap-drawer .list__item{
	background-image: none;
	line-height: 55px;
	font-size: 18px;
	padding-left: 20px;
	color: #F5F7F0;
	transition: 0.3s;
}
.snap-drawer .list__item.active{
	background: #FF003C;
	color: white;
}

.full-page .scrolling-view > .list {
	padding-top: 40px;
}

