<div id="login-page-background">
	<img src="img/login.jpg">
</div>

<div id="login-page">  
	 <div class="login-form">
		<h3 class="title-logo">LOUD</h3>
        <!--<input type="email" class="text-input--underbar" placeholder="Email Address" value="">
        <input type="password" class="text-input--underbar" placeholder="Password" value="">
        <br><br>-->
		<button id="login-button" class="button button--large">Connect with <span>SoundCloud</span></button>
        <br><br>
        <div id="powered-img"><img src="img/powered.png"></div>
      </div>
</div>
    