<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bianchii.loud" version="0.9.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Loud</name>
    <description>
        LOUD
    </description>
    <author email="gppbianchi@gmail.com" href="http://bianchii.com">
        Giuseppe Bianchi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="KeepRunning" value="true"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <!-- <preference name="StatusBarBackgroundColor" value="#f40039" /> -->
    <preference name="StatusBarBackgroundColor" value="#ffffff" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="AllowInlineMediaPlayback" value="true"/>
    <preference name="SplashScreen" value="resourcename" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="500"/>
    
    <preference name="UIWebViewDecelerationSpeed" value="fast" />
    <!--to wait until all content has been received before it renders to the screen.-->
    <preference name="SuppressesIncrementalRendering" value="true"/>
    <plugin name="Media" value="CDVSound" />
</widget>
