*{

	outline: none !important;

}

a {

  	cursor: pointer;
    transition: 0.5s;

 }
 a:hover{

  text-decoration: none;

 }

 body { /*padding-top: 70px;*/ padding-bottom:70px;}

 #main{

 	margin-top: 70px;

 }

 #player{

  position: fixed;
  z-index: 99;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  display: none;
  padding: 0;

 }

#player > .container-fluid{
  position: relative;
  padding: 70px 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);

} 

 .artwork, .waveform{

 	width: 100%;

 }

.waveform-cover.artwork{

    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 10;
}

 .waveform-block{
  position:relative;
  background: white;
  height: 100%;
  width: 100%;
  float: left;
  padding-left: 60px;

 }
 .waveform{
 	position: absolute;
 	height: 100px; /* 40 */
  padding-top: 5px;
 	z-index: 3;
 }
 
 .waveform-bar{

 	position: absolute;
 	width: 0%;
 	height: 60px;
  	background: crimson;
  	z-index: 4;
  	opacity: 0.7;

 }
 #progress-bar-end{
    position: absolute;
    width: 2px;
    background: crimson;
    left:0;
    z-index: 6;
    height:60px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);

 }
  .waveform-loading{

 	position: absolute;
 	width: 0%;
 	height: 60px;
  	background: rgba(0, 0, 0, 0.1);
  	z-index: 2;


 }
.waveform-title{
  width: 100%;
  float: left;
  height: 25px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease-;
  background: white;
  padding-left: 60px;

 }
 .waveform-title h5{
    color: black;
    text-align: left;
    font-weight: 200;
    height: 20px;
    padding: 5px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    

 }

 /* .waveform-front{

 	position: absolute;
 	width: 100%;
 	height: 100px;
  	background: rgba(255, 255, 255, 0.8);
  	z-index: 3;
  	left:0;

 }*/
  .waveform-space{

  position: relative;
  width: 100%;
  height: 50px;
  

 }
 .waveform-back{

 	position: absolute;
 	width: 100%;
  top: 5px;
 	height: 50px;
  	background: rgba(255, 0, 0, 0.75);
  	z-index: 1;
  	left:0;

 }

 .tracklist-container{


 	margin-top: 100px;

 }
 .blur{

 	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    -webkit-filter: blur(20px);
    background-image : none;
    background-repeat: no-repeat;
    background-position: center center;   
    background-attachment: fixed;   
    background-size: cover;   
    opacity: 0.98;

    /* position: relative; */   

 }

 .navbar-fixed-bottom{
 	background: transparent;
 	border: none;
 	height: 60px;
  box-shadow: 0 -1px 1px rgba(0,0, 0, 0.1);

 }
  .navbar-fixed-top{

 	background: rgba(255, 255, 255, 0.9);
 	border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

 }
 .navbar-inverse a.navbar-brand{

  color: red;

 }
 .navbar-header{

  float: none;

 }
 #start{

    border-radius: 50%;
    margin: 7px 15px 0 0;


 }
 #start i{

    font-weight: 100

 }
 .navbar-brand{

  font-family: 'Helvetica Neue';
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 10px;

 }