{{#each this}}
	{{#if attributes.artwork_url}}
		<div class="carousel-item"><div class="carousel-item-image" style="background-image: url({{attributes.artwork_url}})"></div><p class="carousel-item-title">{{attributes.title}}</p></div>
	{{else}}
		<div class="carousel-item"><div class="carousel-item-image" style="background-image: url( {{ attributes.tracks.0.artwork_url }} )"></div><p class="carousel-item-title">{{attributes.title}}</p></div>
	{{/if}}
{{/each}}

	<div class="carousel-item"><div class="carousel-item-image"></div><p class="carousel-item-title">&nbsp;</p></div>
