{{#if this.length}}

{{#each this.models}}
{{#with attributes}}
  <div class="item-single-track">
        <li class="list__item list-track" scTrackId="{{id}}">
          <div class="cover-track b-lazy" data-src="{{subString artwork_url 't300x300'}}">
            <div class="cover-track-overlay">
              <div class="list-track-details">
                {{#with user}}
                <h4 class="title-list-track"><span scUserId="{{id}}" class="soundcloudArtist">{{username}}</span></h4>
                {{/with}}
                <h4 class="title-list-track"><strong>{{title}}</strong></h4>
              </div>
            </div>
          </div>
        </li>
  </div>
 {{/with}}
{{/each}}
<!-- <p class="user-page-title show-more">Show all {{this.track_count}} tracks</p> -->

{{else}}
	{{#if track_count}}
	
	{{else}}
		<p class="user-page-title">No track</p>
	{{/if}}

{{/if}}