<header class="navigation-bar navigation-bar--transparent user-header">
  <div class="navigation-bar__left">
    <span class="toolbar-button--quiet navigation-bar__line-height back-button">
      <i class="fa fa-angle-left" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>
  <div class="navigation-bar__center">FOLLOWING</div>
<div class="navigation-bar__right">
    <span class="toolbar-button--quiet navigation-bar__line-height userOption" style="line-height: 45px;"></span>
</div>
</header>


<div id="user-scrolling-view-following" class="user-scrolling-view">
<div class="user-content-view">
	
	
<div class="cover-user-view cover-likes-view" style="background-image:url(img/following.jpg);">
  <div class="overlay-cover-user-view">
    <!--  <div style="position: absolute;right: 10px;bottom: 65px;color: white;font-size: 14px;"></div> -->
    
     <div class="overlay-cover-user-view-details overlay-title-view"><h4 class="title-view">FOLLOWING</h4></div>
     
<!--
     <div class="tab-bar tab-bar--top tab-bar--top-border">
          <label class="tab-bar__item tab-bar--top-border__item">
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="counter">{{kFormatter total_following}}</span>
              <span class="tab-name">FOLLOWING</span>
            </button>
          </label>
          
          <label class="tab-bar__item tab-bar--top-border__item">
            <button class="tab-bar__button tab-bar--top-border__button center">
            <span class="counter">SORT</span>
              <span class="tab-name">BY NAME</span>
            </button>
          </label>
	 </div>
-->


  </div>
</div>
<p class="playlist-description" style="text-align: center">{{kFormatter total_following}} <span style="color: #ff003c">FOLLOWING</span></p>
<!-- <h4 class="name" style="color: #777;padding: 0 15px;font-weight: 400;font-size: 14px;margin: 15px 0 10px;">{{track_count}} Tracks, {{playlist_count}} Playlists</h4> -->
<!--
<p class="user-page-title morePlaylist-title">Playlists <span>{{playlist_count}}</span></p>
<div class="UserCarousel"><div class="cssload-loader">
  <div class="cssload-ball"></div>
  </div></div>
<p class="user-page-title">Tracks <span>{{track_count}}</span></p>
-->
<div class="bullet-section"></div>

<div class="cssload-loader tracks-loader">
  <div class="cssload-ball"></div>
  </div>
  
 
</div>
</div>