<div id="content">
      <div class="navigation-bar">
		  <div class="navigation-bar__left">
		    <span id="menu-button" class="toolbar-button--quiet navigation-bar__line-height">
		      <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
		    </span>
		  </div>
		  <div class="navigation-bar__center">
		  </div>
		  <div class="navigation-bar__right">
		    <span class="toolbar-button--quiet navigation-bar__line-height">Help</span>
		  </div>
	  </div>

      <div class="login-form">

        <input type="email" class="text-input--underbar" placeholder="Email" value="">
        <input type="password" class="text-input--underbar" placeholder="Password" value="">
        <br><br>
		<button class="button button--large">Log In</button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
      </div>
</div>
