<header class="navigation-bar navigation-bar--transparent library-header">
  <div class="navigation-bar__left">
    <span id="menu-button" class="toolbar-button--quiet navigation-bar__line-height">
      <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>
  <div class="navigation-bar__center">LIBRARY</div>
<div class="navigation-bar__right">
<span class="toolbar-button--quiet navigation-bar__line-height"><i class="fa fa-search" style="font-size:20px; vertical-align: 0px; margin-right: 5px;"></i></span>
</div>
</header>
<!-- <div id="library-header"><span class="select-library-button">Tracks <i class="fa fa-angle-down"></i></span></div> -->

<div class="cover-user-view library-cover cover-user-view-background" style="background-image: url(img/login.jpg);"></div>
<div id="user-scrolling-view-library" class="user-scrolling-view">
<div class="user-content-view">
	
<div class="cover-user-view library-cover">
  <div class="overlay-cover-user-view overlay-cover-library-view">
	  <div class="overlay-cover-user-view-details overlay-title-view"><h4 class="title-view">Library</h4></div>
	  	<div class="tab-bar tab-bar--top tab-bar--top-border" style="-webkit-transform: translateY(15px); transform: translateY(15px);">
	     <label class="tab-bar__item tab-bar--top-border__item">
	      {{#if tracks.length}}
            <button class="tab-bar__button tab-bar--top-border__button center play-all-tracks" trackid="{{tracks.0.id}}">
            <span class="tab-name"><i class="fa fa-play"></i></span>
            </button>
          {{else}}
          	<button class="tab-bar__button tab-bar--top-border__button center">
          	<span class="tab-name"><i class="fa fa-play"></i></span>
            </button>
          {{/if}}
              
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name"><span style="color: #ff003c;font-weight: 400;font-size: 14px;">TRACKS </span><i class="fa fa-angle-down"></i></span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
<!--             <input type="checkbox" name="top-tab-bar-b" checked="checked"> -->
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name">...</span>
            </button>
          </label>
		</div>
<!--
		<div id="library-select" style="position: absolute;bottom: -10px;"><span>Tracks <i class="fa fa-angle-down"></i></span>
		  <select id="select-library-element" style="opacity: 0;position: absolute;left: 41%;">
			  	<option value="tracks">Tracks</option>
			    <option value="artists">Artists</option>
			    <option value="albums">Albums</option>
		  </select>
	  </div>
-->
  </div>
</div>
<div class="list-back">

<p class="user-page-title" style="padding-top: 20px;">Recent Added</p>
<div class="UserCarousel">
	<div class="cssload-loader">
		<div class="cssload-ball"></div>
	</div>
</div>	


<!--

<div class="item-single-track" style="margin: 15px 0">
	<li class="list__item list-track" scTrackId="{{id}}" style="padding: 0">
      <div class="cover-track" style="background-image: url(img/turn.jpg); height: 50px;">
        <div class="cover-track-overlay"  style="background: rgba(255, 255, 255, 0.78)">
            <div id="library-select">Tracks <i class="fa fa-angle-down"></i></div>
        </div>
      </div>
</li>
</div>
-->
<p class="user-page-title morePlaylist-title">A</p>
<div class="bullet-section" style="margin: 0">
	<div class="cssload-loader">
		<div class="cssload-ball"></div>
  	</div>
</div>

 
</div>
</div>
</div>