
<!-- 	<span id="chiudiplayer" class="button"><i class="fa fa-angle-down"></i></span> -->
		
		<div class="swiper-container">
		<div id="pauseButton"><h6><i class="ion-play"></i></h6><h5>PAUSE</h5></div>
	    <!-- Additional required wrapper -->
			<div class="swiper-wrapper">
	        <!-- Slides -->
	       
	        </div>
	    </div>
	    
		<div class="tab-bar tab-bar--top tab-bar--top-border" style="z-index:21">
	     <label class="tab-bar__item tab-bar--top-border__item">
            <button id="shuffle-button" class="tab-bar__button tab-bar--top-border__button center {{#compare shuffle '1'}}active-button{{/compare}}">
              <span class="tab-name"><i class="fa fa-random"></i></span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
            <button id="repeat-button"  class="tab-bar__button tab-bar--top-border__button center {{#compare repeat '1'}} active-button{{/compare}}">
              <span class="tab-name"><i class="fa fa-refresh"></i></span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
            <button id="player-like-button" class="tab-bar__button tab-bar--top-border__button center">
              
              <span class="tab-name"><i class="fa fa-heart"></i></span>
            </button>
          </label>
          
          <label class="tab-bar__item tab-bar--top-border__item">
            <button id="show-player-option" class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name">•••</span>
            </button>
          </label>
		</div>