<header class="navigation-bar navigation-bar--transparent user-header">
  <div class="navigation-bar__left">
    <span class="toolbar-button--quiet navigation-bar__line-height back-button">
      <i class="fa fa-angle-left" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>
  <div class="navigation-bar__center">LIKES</div>
<div class="navigation-bar__right">
<!--     <span class="toolbar-button--quiet navigation-bar__line-height userOption" style="line-height: 45px;">•••</span> -->
</div>
</header>

<div class="cover-user-view cover-likes-view cover-user-view-background" style="background-image:url(img/likes.jpg); background-position: center bottom;"></div>
<div id="user-scrolling-view-likes" class="user-scrolling-view">
<div class="user-content-view">
	
	
<div class="cover-user-view cover-likes-view">
  <div class="overlay-cover-user-view">
    <!--  <div style="position: absolute;right: 10px;bottom: 65px;color: white;font-size: 14px;"></div> -->
    
     <div class="overlay-cover-user-view-details overlay-title-view"><h4 class="title-view">Likes</h4></div>
     <div class="tab-bar tab-bar--top tab-bar--top-border">
	     <label class="tab-bar__item tab-bar--top-border__item">
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name">LOUD</span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
<!--             <input type="checkbox" name="top-tab-bar-b" checked="checked"> -->
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="counter">{{kFormatter total_likes}}</span>
              <span class="tab-name">LIKES</span>
            </button>
          </label>
          
          <label class="tab-bar__item tab-bar--top-border__item">
          <button class="tab-bar__button tab-bar--top-border__button center" id="sort-likes">
            <span class="counter">SORT</span>
              <span class="tab-name">BY TRACK</span>
            </button>
		  	
          </label>

          
      </div>


  </div>
</div>
<div class="list-back" style="padding-bottom: 70px">
<p class="playlist-description" style="text-align: center">Search by user the tracks you have liked</p>	

<div class="bullet-section">
{{#each this.models}}
  {{#with attributes}}
  <div class="bullet-item likes-user" scuserid="{{@index}}">
  	<div class="bullet-image">
	  	<img class="b-lazy" src="img/white.png" data-src="{{this.0.user.avatar_url}}">
	</div>
    <div class="bullet-name"><h4>{{this.0.user.username}}</h4></div>
  </div>
  {{/with}}
{{/each}}
</div>
  
</div>
</div>
</div>