<header class="navigation-bar navigation-bar--transparent">
  <div class="navigation-bar__left">
    <span id="menu-button" class="toolbar-button--quiet navigation-bar__line-height">
      <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>
  <div class="navigation-bar__center">
    STREAM
  </div>
<div class="navigation-bar__right">
    <span class="toolbar-button--quiet navigation-bar__line-height"><i class="fa fa-search" style="font-size:20px; vertical-align: 0px; margin-right: 5px;"></i></span>
  </div>
</header>
<div class="scrolling-view">
<ul class="list">

<!-- THERE ARE MORE TYPE OF ACTIVITIES SUCH AS COMMENTS, I DON'T CARE COMMENTS -->
  {{#each this}}
  <div class="item-single-track">
    {{#compare type "track-repost"}}
      <span class="repost"><i class="fa fa-retweet"></i></span>
      {{#with origin}}
        <li class="list__item list-track" scTrackId="{{id}}">
          <div class="cover-track b-lazy" data-src="{{subString artwork_url}}">
            <div class="cover-track-overlay">
              <div class="list-track-details">
                {{#with user}}
                <h4 class="title-list-track"><span scUserId="{{id}}" class="soundcloudArtist">{{username}}</span></h4>
                {{/with}}
                <h4 class="title-list-track"><strong>{{title}}</strong></h4>
              </div>
            </div>
          </div>
        </li>
      {{/with}}
    {{else}}
      {{#compare type "track"}}
        {{#with origin}}
        <li class="list__item list-track" scTrackId="{{id}}">
          <div class="cover-track b-lazy" data-src="{{subString artwork_url}}">
            <div class="cover-track-overlay">
              <div class="list-track-details">
                {{#with user}}
                <h4 class="title-list-track"><span scUserId="{{id}}" class="soundcloudArtist">{{username}}</span></h4>
                {{/with}}
                <h4 class="title-list-track"><strong>{{title}}</strong></h4>
              </div>
            </div>
          </div>
        </li>
        {{/with}}
      {{/compare}}
    {{/compare}}
  </div>
{{/each}}
  <div class="cssload-loader">
  <div class="cssload-ball"></div>
</div>

  <!-- <li class="list__item list-track">
  	<div class="cover-track" style="background-image: url(img/track1.jpg);">
  		<div class="cover-track-overlay">
  			<div class="list-track-details">
  			<h4 class="title-list-track">tINI</h4>
  			<h4 class="title-list-track"><span>That's Right</span></h4>
  			</div>
  		</div>
  	</div>
  </li>
  <li class="list__item list-track">
  	<div class="cover-track" style="background-image: url(img/track2.jpg)">
  		<div class="cover-track-overlay">
  			<div class="list-track-details">
  			<h4 class="title-list-track">Seb Zito</h4>
  			<h4 class="title-list-track"><span>That's The Way (Original Mix)</span></h4>
  			</div>
  		</div>
  	</div>
  </li>
  <li class="list__item list-track">
  	<div class="cover-track" style="background-image: url(img/avatar.jpg)">
  		<div class="cover-track-overlay">
  			<div class="list-track-details">
  			<h4 class="title-list-track">tINI</h4>
  			<h4 class="title-list-track"><span>That's Right</span></h4>
  			</div>
  		</div>
  	</div>
  </li>
  <li class="list__item list-track">
    <div class="cover-track b-lazy" data-src="img/track1.jpg">
      <div class="cover-track-overlay">
        <div class="list-track-details">
        <h4 class="title-list-track">tINI</h4>
        <h4 class="title-list-track"><span>That's Right</span></h4>
        </div>
      </div>
    </div>
  </li>
  <li class="list__item list-track">
    <div class="cover-track b-lazy" data-src="https://www.wonderplugin.com/wp-content/plugins/wonderplugin-lightbox/images/demo-image2.jpg">
      <div class="cover-track-overlay">
        <div class="list-track-details">
        <h4 class="title-list-track">tINI</h4>
        <h4 class="title-list-track"><span>That's Right</span></h4>
        </div>
      </div>
    </div>
  </li>
  <li class="list__item list-track">
    <div class="cover-track b-lazy" data-src="https://www.wonderplugin.com/wp-content/plugins/wonderplugin-lightbox/images/demo-image1.jpg">
      <div class="cover-track-overlay">
        <div class="list-track-details">
        <h4 class="title-list-track">tINI</h4>
        <h4 class="title-list-track"><span>That's Right</span></h4>
        </div>
      </div>
    </div>
  </li>
  <li class="list__item list-track">
    <div class="cover-track b-lazy" data-src="http://www.menucool.com/slider/jsImgSlider/images/image-slider-1.jpg">
      <div class="cover-track-overlay">
        <div class="list-track-details">
        <h4 class="title-list-track">tINI</h4>
        <h4 class="title-list-track"><span>That's Right</span></h4>
        </div>
      </div>
    </div>
  </li>
  
  
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
</ul>

<li class="list__item list-track">
  	<div class="cover-track" style="background-image: url(img/track3.jpg)">
  		<div class="cover-track-overlay">
  			<div class="list-track-details">
  			<h4 class="title-list-track">Seb Zito</h4>
  			<h4 class="title-list-track"><span>That's The Way (Original Mix)</span></h4>
  			</div>
  		</div>
  	</div>
  </li> -->
</div>