
<header class="navigation-bar navigation-bar--transparent">
  <div class="navigation-bar__left">
    <span id="menu-button" class="toolbar-button--quiet navigation-bar__line-height">
      <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>
  <div class="navigation-bar__center">
    STREAM
  </div>
<div class="navigation-bar__right">
    <span class="toolbar-button--quiet navigation-bar__line-height"><i class="fa fa-search" style="font-size:20px; vertical-align: 0px; margin-right: 5px;"></i></span>
  </div>
</header>
<div class="scrolling-view">
<ul class="list">

<!-- THERE ARE MORE TYPE OF ACTIVITIES SUCH AS COMMENTS, I DON'T CARE COMMENTS -->
  {{#each this}}
  <div class="item-single-track">
    {{#compare attributes.type "track-repost"}}
      <span class="repost"><i class="fa fa-retweet"></i></span>
      {{#with attributes.origin}}
        <li class="list__item list-track" scTrackId="{{id}}">
          <div class="cover-track b-lazy" data-src="{{subString artwork_url 't300x300'}}">
            <div class="cover-track-overlay">
              <div class="list-track-details">
                {{#with user}}
                <h4 class="title-list-track"><span scUserId="{{id}}" class="soundcloudArtist">{{username}}</span></h4>
                {{/with}}
                <h4 class="title-list-track"><strong>{{title}}</strong></h4>
              </div>
            </div>
          </div>
        </li>
      {{/with}}
    {{else}}
		{{#compare attributes.type "track"}}
		    {{#with attributes.origin}}
		    <li class="list__item list-track" scTrackId="{{id}}">
		      <div class="cover-track b-lazy" data-src="{{subString artwork_url 't300x300'}}">
		        <div class="cover-track-overlay">
		          <div class="list-track-details">
		            {{#with user}}
		            <h4 class="title-list-track"><span scUserId="{{id}}" class="soundcloudArtist">{{username}}</span></h4>
		            {{/with}}
		            <h4 class="title-list-track"><strong>{{title}}</strong></h4>
		          </div>
		        </div>
		      </div>
		    </li>
		    {{/with}}
		{{else}}
		  	{{#compare attributes.type "playlist"}}
			    {{#with attributes.origin}}
			    <li class="list__item list-track playlist-type" scTrackId="{{id}}">
			      <div class="cover-track b-lazy" data-src="{{subString artwork_url 't300x300'}}">
			        <div class="cover-track-overlay">
			          <div class="list-track-details">
			            {{#with user}}
			            <h4 class="title-list-track"><span scUserId="{{id}}" class="soundcloudArtist">{{username}}</span></h4>
			            {{/with}}
			            <h4 class="title-list-track"><strong>{{title}}</strong></h4>
			          </div>
			        </div>
			      </div>
			    </li>
			    {{/with}}
			{{else}}
				{{#compare attributes.type "playlist-repost"}}
				<span class="repost"><i class="fa fa-retweet"></i></span>
				    {{#with attributes.origin}}
				    <li class="list__item list-track playlist-type" scTrackId="{{id}}">
				      <div class="cover-track b-lazy" data-src="{{subString artwork_url 't300x300'}}">
				        <div class="cover-track-overlay">
				          <div class="list-track-details">
				            {{#with user}}
				            <h4 class="title-list-track"><span scUserId="{{id}}" class="soundcloudArtist">{{username}}</span></h4>
				            {{/with}}
				            <h4 class="title-list-track"><strong>{{title}}</strong></h4>
				          </div>
				        </div>
				      </div>
				      <p class="detail-playlist-type"><span class="n-playlist">{{track_count}}</span> Tracks<span class="d-playlist">{{getMinutes duration}}</span></p>
				    </li>
				    {{/with}}
				{{/compare}}
			{{/compare}}
		{{/compare}}
    {{/compare}}
  </div>
{{/each}}
  <div class="cssload-loader">
  <div class="cssload-ball"></div>
  </div>
</ul>
</div>