<div class="snap-drawers">
            <div class="snap-drawer snap-drawer-left"> 
                   <h3 class="title-logo title-logo-menu">LOUD</h3>
                   <ul class="list">
					  <li class="list__item">LIBRARY</li>
					  <li class="list__item">STREAM</li>
					  <li class="list__item">DISCOVER</li>
					  <li class="list__item">PLAYLIST</li>
					  <li class="list__item">LIKES</li>
					  <li class="list__item">FOLLOWING</li>
					  
					</ul>       
            </div>
</div>

<!-- <nav id="navigation">
    <div id="nav1" class="i-4">nav 1</div>
    <div id="nav2" class="i-8">nav 2</div>
</nav> -->
<div id="content" class="content">
<ul class="list">
  <li class="list__item">Item</li>
  <li class="list__item">Item</li>
</ul>
<button id="menu-button" class="button button--large">Open Menu</button>
</div>