<div class="snap-drawers" style="background-image: url('{{picture}}')">
            <div class="snap-drawer snap-drawer-left" > 
                   <h3 class="title-logo title-logo-menu">LOUD</h3>
                    <div id="goToProfile" class="image-profile-menu"><img src="{{picture}}"></div>
                   <!--
<div class="item-profile-menu">
                                     <div class="name-profile-menu"><h4>{{username}}</h4><span>Profile</span></div>
                   
                   </div>
-->
                   <ul class="list" style="background-color: transparent;">
					  <li id="goToLibrary" class="list__item item_nav_menu">LIBRARY</li>
					  <li id="goToStream" class="list__item item_nav_menu">STREAM</li>
					  <li id="goToDiscover" class="list__item item_nav_menu">DISCOVER</li>
					  <li id="goToPlaylists" class="list__item item_nav_menu">PLAYLISTS</li>
					  <li id="goToLikes"class="list__item item_nav_menu">LIKES</li>
					  <li id="goToFollowing" class="list__item item_nav_menu">FOLLOWING</li>
					  
					</ul>  
					   
            </div>
</div>

<div id="content" class="content">

</div>