{{#with attributes}}
<header class="navigation-bar navigation-bar--transparent user-header">
  <div class="navigation-bar__left">
    <span class="toolbar-button--quiet navigation-bar__line-height back-button">
      <i class="fa fa-angle-left" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>
  <div class="navigation-bar__center">{{username}}</div>
<div class="navigation-bar__right">
    <span class="toolbar-button--quiet navigation-bar__line-height show-options" style="line-height: 45px;">•••</span>
</div>
</header>

<div class="cover-user-view cover-user-view-background b-lazy" data-src="{{subString avatar_url 't500x500'}})"></div>



<div id="user-scrolling-view-{{id}}" class="user-scrolling-view">
<div class="user-content-view">
	
	
<div class="cover-user-view">
  <div class="overlay-cover-user-view">
    <!--  <div style="position: absolute;right: 10px;bottom: 65px;color: white;font-size: 14px;"></div> -->
    
     <div class="overlay-cover-user-view-details">
      
       <h4 class="name">{{username}}</h4>
        {{#if city}}
        	<span>{{city}}</span> <span>{{country}}</span></br>
        	{{else}}
        		{{#if country}}
        			<span>{{country}}</span></br>
        		{{/if}}
        {{/if}}
        
     </div>

     <div class="tab-bar tab-bar--top tab-bar--top-border">
	     <label class="tab-bar__item tab-bar--top-border__item">
            <button class="tab-bar__button tab-bar--top-border__button center play-all-tracks">
              <span class="tab-name"><i class="fa fa-play"></i></span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="counter">{{kFormatter followers_count}}</span>
              <span class="tab-name">FOLLOWERS</span>
            </button>
          </label>
{{/with}}          
          <label class="tab-bar__item tab-bar--top-border__item">
<!--
          	<button id="follow" class="tab-bar__button tab-bar--top-border__button center following">
              <span class="tab-name" data-code="{{id}}">FOLLOWING</span>
            </button>
-->			{{#if follow_button}}
            <button class="tab-bar__button tab-bar--top-border__button center follow-button following" data-code="{{attributes.id}}">
              FOLLOWING
            </button>
            {{else}}
            <button class="tab-bar__button tab-bar--top-border__button center follow-button start-follow" data-code="{{attributes.id}}">
              FOLLOW
            </button>
            {{/if}}
          </label>

          
      </div>


  </div>
</div>
{{#with attributes}}
<div class="list-back">
<p class="playlist-description">{{description}}</p>
<!-- <h4 class="name" style="color: #777;padding: 0 15px;font-weight: 400;font-size: 14px;margin: 15px 0 10px;">{{track_count}} Tracks, {{playlist_count}} Playlists</h4> -->
<p class="user-page-title morePlaylist-title">Playlists <span style="color: #777">{{playlist_count}}</span></p>
<div class="UserCarousel"><div class="cssload-loader">
  <div class="cssload-ball"></div>
  </div></div>
<p class="user-page-title">Tracks <span style="color: #777">{{track_count}}</span></p>
<div class="tracklist"></div>

<div class="cssload-loader tracks-loader">
  <div class="cssload-ball"></div>
  </div>
  
</div> 
</div>
</div>
{{/with}}