<header class="navigation-bar navigation-bar--transparent user-header" style="background: transparent; box-shadow: none;">
  <div class="navigation-bar__left">
    <span id="back" class="toolbar-button--quiet navigation-bar__line-height">
      <i class="fa fa-angle-left" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>
  <div class="navigation-bar__center">{{username}}</div>
<div class="navigation-bar__right">
    
</div>
</header>
<div id="user-scrolling-view">
<div id="cover-user-view" style="background-image:url({{subString avatar_url 't500x500'}})">
  <div class="overlay-cover-user-view">
    <!--  <div style="position: absolute;right: 10px;bottom: 65px;color: white;font-size: 14px;"></div> -->
    <button class="button" style="margin-bottom: 10px; padding: 5px 10px; position: absolute;font-size: 13px;bottom: 55px;right: 15px;line-height: normal;">Follow</button>
     <div class="overlay-cover-user-view-details">
      
       <h4 id="name">{{username}}</h4>
       {{#if city}}
        <span>{{city}}</span> <span>{{country}}</span></br>
        {{/if}}
        <span class="follower-count">{{kFormatter followers_count}} Followers</span>
     </div>

     <div class="tab-bar tab-bar--top tab-bar--top-border">
	     <label class="tab-bar__item tab-bar--top-border__item">
<!--             <input type="radio" name="top-tab-bar-b" checked="checked"> -->
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name"><i class="fa fa-play"></i></span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
<!--             <input type="checkbox" name="top-tab-bar-b" checked="checked"> -->
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name"><i class="fa fa-random"></i></span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
<!--             <input type="checkbox" name="top-tab-bar-b"> -->
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name"><i class="fa fa-refresh"></i></span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
            <button class="tab-bar__button tab-bar--top-border__button center" id="userOption">
<!--               <span class="counter">{{playlist_count}}</span><br> --> 
              <span class="tab-name" data-code="{{id}}" data-username="{{username}}" data-city="{{city}} {{country}}">•••</span>
            </button>
          </label>

          
      </div>


  </div>
</div>
<p class="user-page-title">Playlists <span>({{playlist_count}})</span></p>
<div id="UserCarousel"></div>
<ul class="list">
  
</ul>
</div>