<header class="navigation-bar navigation-bar--transparent user-header">
  <div class="navigation-bar__left">
    <span id="back" class="toolbar-button--quiet navigation-bar__line-height">
      <i class="fa fa-angle-left" style="font-size:32px; vertical-align:-6px;"></i>
    </span>
  </div>
  <div class="navigation-bar__center">{{username}}</div>
<div class="navigation-bar__right">
    <span id="userOption" class="toolbar-button--quiet navigation-bar__line-height" data-code="{{id}}" data-username="{{username}}" data-city="{{city}} {{country}}" style="line-height: 45px;">•••</span>
</div>
</header>
<div id="user-scrolling-view">
<div id="cover-user-view" style="background-image:url({{subString avatar_url 't500x500'}})">
  <div class="overlay-cover-user-view">
    <!--  <div style="position: absolute;right: 10px;bottom: 65px;color: white;font-size: 14px;"></div> -->
    
     <div class="overlay-cover-user-view-details">
      
       <h4 id="name">{{username}}</h4>
       {{#if city}}
        <span>{{city}}</span> <span>{{country}}</span></br>
        {{/if}}
        
     </div>

     <div class="tab-bar tab-bar--top tab-bar--top-border">
	     <label class="tab-bar__item tab-bar--top-border__item">
		 <input type="checkbox" name="top-tab-bar-b">
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name"><i class="fa fa-play"></i></span>
            </button>
          </label>
          <label class="tab-bar__item tab-bar--top-border__item">
<!--             <input type="checkbox" name="top-tab-bar-b" checked="checked"> -->
            <button class="tab-bar__button tab-bar--top-border__button center">
              <span class="counter">{{kFormatter followers_count}}</span>
              <span class="tab-name">FOLLOWERS</span>
            </button>
          </label>
          
          <label class="tab-bar__item tab-bar--top-border__item">
<!--
          	<button id="follow" class="tab-bar__button tab-bar--top-border__button center following">
              <span class="tab-name" data-code="{{id}}">FOLLOWING</span>
            </button>
-->
            <button id="follow" class="tab-bar__button tab-bar--top-border__button center">
              <span class="tab-name" data-code="{{id}}">FOLLOW</span>
            </button>
          </label>

          
      </div>


  </div>
</div>
<p class="user-page-title">Playlists <!-- <span>({{playlist_count}})</span> --></p>
<div id="UserCarousel"></div>
<p class="user-page-title">Tracks <!-- <span>({{track_count}})</span> --></p>
<div id="tracklist"></div>

</div>