<div id="discover-scrolling-view" class="scrolling-view">
<div class="cover-user-view b-lazy" data-src="img/login.jpg" style="height: 310px;">
  <div class="overlay-cover-user-view overlay-cover-library-view">
	  <div class="overlay-title-view">
		  <h3 class="title-logo" style="text-align: center; margin: 20px 0;">LOUD</h3>
		  <div id="welcome-title">
			<div id="selected-discover-track-img" class="b-lazy" data-src="{{avatar_url}}"></div>
					  <div id="selected-discover-track-title">
						  	<h5 class="soundcloudArtist" style="font-size: 18px;margin: 20px 0;">{{username}}</h5>
					  </div>
				<h4 class="title-view">WELCOME</h4>
			</div>
		  </div>
  </div>
</div>
<div class="login-form">
	<button id="login-button" class="button button--large">Start using <span style="color: #ff003c; letter-spacing: 1px;">LOUD</span></button>
	<br><br>
	<div id="powered-img"><img src="img/powered.png"></div>
	</div>
<ul class="list list--noborder">
  <li class="list__item">
  	<img class="blazy" src="img/avatar.jpg">
    <p>Create your Library adding all tracks you love to listen to</p>
  </li>
</ul>

<p class="playlist-description" style="text-align: center;">Create your Library adding all tracks you love to listen to</p>
<p class="playlist-description" style="text-align: center;">Menage and Organize your music by Artist, Album and Label</p>
<p class="playlist-description" style="text-align: center;">Create your artist and their Albums</p>
<p class="playlist-description" style="text-align: center;">Save long tracks to Podcast section</p>
<p class="playlist-description" style="text-align: center;">Sort your Liked tracks by Artist</p>
<p class="playlist-description" style="text-align: center;">Set a track to Discover section to find out and save related sounds to that track</p>
<p class="playlist-description" style="text-align: center;">Stream music and Enjoy</p>
<p class="playlist-description" style="text-align: center;">presentation text and images</p>
</div>